%div.container
  %h2 Sinas Website
  %h3 Eine schöne Überschrift
  %div{class: 'navbar navbar-default'}
    %div{class: 'navbar-header'}
      %button{class: 'navbar-toggle'}
    %ul{class: 'nav navbar-nav'}
      %li{class:'active'}
        %a{href:'#'} Home
      %li
        %a{href:'#'} Profile
      %li
        %a{href:'#'} Messages
  %div.row
    %div.col-xs-4
      %ul{class:'nav nav-pills nav-stacked'}
        %li{class:'active'}
          %a{href:'#'} Home
        %li
          %a{href:'#'} Profile
        %li
          %a{href:'#'} Messages
    %div.col-xs-4
      %h3 Dies ist ein Bild von einer Katze
      %img{:src => "katze.jpg"}
    %div.col-xs-4
      %h3 Und hier ein weiteres Bild:
      %img{:src => "hunde.jpg"}

  %h3 Dies ist ein Link:
  %a{:href => "http://www.uni-due.de"} Universität Duisburg-Essen
